<div id="dashboard">
  <header class="dashboard-kopf">
    <h1>Willkommen zu Ihrem Dashboard</h1>
  </header>

  <!-- Die erste Zeile -->
  <section class="dashboard-zeile">
    <!-- Die erste Karte -->
    <mat-card id="karte01">
      <mat-card-title>
        Daten 1
      </mat-card-title>
      <mat-card-subtitle>Als Liniendiagramm</mat-card-subtitle>
      <mat-card-content>
        <app-diagramm01></app-diagramm01>
      </mat-card-content>
    </mat-card>

    <!-- Die zweite Karte -->
    <mat-card id="karte02">
      <mat-card-title>
        Daten 2
      </mat-card-title>
      <mat-card-subtitle>Als Balkendiagramm</mat-card-subtitle>
      <mat-card-content>
        <app-diagramm02></app-diagramm02>
      </mat-card-content>
    </mat-card>

    <!-- Die dritte Karte -->
    <mat-card id="karte03">
      <mat-card-title>
        Daten 3
      </mat-card-title>
      <mat-card-subtitle>Als Tacho-Diagramm</mat-card-subtitle>
      <mat-card-content>
        <app-diagramm03></app-diagramm03>
      </mat-card-content>
    </mat-card>
  </section>

  <!-- Die zweite Zeile -->
  <section class="dashboard-zeile">
    <mat-card id="willkommen">
      <mat-card-title>
        Herzlich willkommen!
      </mat-card-title>
      <div>
        <p>Hier steht einfacher Text.</p>
      </div>
    </mat-card>
  </section>
</div>